/* NewPost.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 높이의 100%만큼의 높이를 가짐 */
}

.label {
  color: white;
  font-size: 20px;
  margin-bottom: 10px; /* 라벨 아래 여백 추가 */
}

.title,
.content {
  border: 1px solid #ffa600;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  width: 30em;
  margin-top: 10px;
}

.title:focus,
.content:focus {
  outline: none;
}

button {
  background-color: #ffa600;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b37700;
}
